@model PPI.Platform.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row margint20">
        <div class="col-md-1"><strong>Password:</strong></div>
            <div>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </div>
        <div class="col-md-1">Change Email Address</div>
        <div>[ @Html.ActionLink("Manage", "ChangeEmail") ]</div>
        <div class="col-md-1"><strong>External Logins:</strong></div>
        <div>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </div>
    </div>
    <div class="row margint10">
        <div class="col-md-12">
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </div>
        *@
        @*
    <div class="row margint10">
        <div class="col-md-12">
        <strong>Two-Factor Authentication:</strong><br /><br />

        <p>
            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
        @if (Model.TwoFactor)
            {

                <form method="post" action="/Manage/DisableTwoFactorAuthentication">
                    Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                </form>
            }
            else
            {

                <form method="post" action="/Manage/EnableTwoFactorAuthentication">
                    Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                </form>
            }
        </div>
        *@
    </div>
</div>
