@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
     if (!Model.Attributes.ContainsKey("cssIcontype"))
        {
            <text>@Model.Title</text>
        }
     else
     {
       <i class="@Model.Attributes["cssIcontype"].ToString()"> </i><text> @Model.Title</text>
     }
}
else if (Model.IsClickable)
{
    if (string.IsNullOrEmpty(Model.Description))
    {
        if (!Model.Attributes.ContainsKey("cssIcontype"))
        {
            <a href="@Model.Url">@Model.Title</a>
        }
        else
        {
            <a href="@Model.Url"><i class="@Model.Attributes["cssIcontype"].ToString()"> </i> @Model.Title</a>
        }

    }
    else
    {
        if (!Model.Attributes.ContainsKey("cssIcontype"))
        {
            <a href="@Model.Url" title="@Model.Description">@Model.Title</a>
        }
        else
        {
            <a href="@Model.Url" title="@Model.Description"><i class="@Model.Attributes["cssIcontype"].ToString()"> </i> @Model.Title</a>               
        }
        
    }
} else { 
    <text>@Model.Title</text>
}
